{% extends 'index.html' %}
{% block body %}
{% load static %}
{% load humanize %}
<!-- Start Trending Product Area -->
<section class="trending-product section" style="margin-top: 0px;">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h2>Caramas de frio</h2>
       </div>
      </div>
    </div>
    <div class="row">
      {% for cold in object_list %}
      <div class="col-lg-3 col-md-6 col-12">
        <!-- Start Single Product -->
        <div class="single-product">
          <div class="product-image">
            <img src="{{cold.photo.url}}" alt="#">
            {% if machine.discount_price %}
              <span class="sale-tag">-{{cold.discount_rate}}%</span>
            {% endif %}
            <div class="button">
              <a href="{% url 'coldchamber:detail_coldchamber' cold.id %}" class="btn"><i class="lni"></i> Ver detalles</a>
            </div>
          </div>
          <div class="product-info">
            <h4 class="title">
              <a href="{% url 'coldchamber:detail_coldchamber' cold.id %}">{{ cold.name }}</a>
            </h4>
            <span class="category">{{ cold.categories }}</span>
            <span class="category">Dimensiones {{ cold.dimensions }}</span>
            <ul class="review">
              <li><i class="lni lni-star-filled"></i></li>
              <li><i class="lni lni-star-filled"></i></li>
              <li><i class="lni lni-star-filled"></i></li>
              <li><i class="lni lni-star-filled"></i></li>
              <li><i class="lni lni-star"></i></li>
              <li><span>4.0 Review(s)</span></li>
            </ul>
            <div class="price">
                <span>${{ cold.camera_price | intcomma }} <span class="iva"> + IVA</span></span>
                <br>
                <span class="price-install">instalación: ${{ cold.installation_price | intcomma }}</span> 
            </div>
          </div>
        </div>
        <!-- End Single Product -->
      </div>
      {% endfor %}
    </div> 
  </div>
</section>
<!-- End Trending Product Area -->
{% endblock %}