{% load static %}
<header class="section-header">
  <section class="header-main bg-white">
    <div class="container">
      <div class="row gy-3 align-items-center">
        <div class="col-lg-2 col-sm-4 col-4">
          <a href="http://bootstrap-ecommerce.com" class="navbar-brand">
            <img class="logo" height="40" src="{% static 'lib/modelo/images/logo-tamaño-normal.png' %}">
          </a> <!-- brand end.// -->
        </div>
        <div class="order-lg-last col-lg-5 col-sm-8 col-8">
          <div class="float-end">
            <a href="https://www.facebook.com/Automaticaingenieria/"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://instagram.com/automaticaingenieria?utm_medium=copy_link"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://vm.tiktok.com/ZMLP1tJTB/"><i class="fa-brands fa-tiktok"></i></a>
            <a href="https://youtube.com/channel/UCRUNgZALLqKW6qeQRskYwzA"><i class="fa-brands fa-youtube"></i></a>
            <a href="https://twitter.com/automaticaing?t=HD_9JOE6zpqulTfEPwchCg&s=08"><i class="fa-brands fa-twitter"></i></a>
          </div>
        </div> <!-- col end.// -->
        <div class="col-lg-5 col-md-12 col-12">
          <form action="#" class="">
            <div class="input-group">
              <input type="search" class="form-control" style="width:55%" placeholder="Search">
              <select class="form-select">
                <option value="">All type</option>
                <option value="codex">Special</option>
                <option value="comments">Only best</option>
                <option value="content">Latest</option>
              </select>
              <button class="btn btn-primary">
                <i class="fa fa-search"></i>
              </button>
            </div> <!-- input-group end.// -->
          </form>
        </div> <!-- col end.// -->

      </div> <!-- row end.// -->
    </div> <!-- container end.// -->
  </section> <!-- header-main end.// -->

  <nav class="navbar navbar-dark bg-primary navbar-expand-lg">
    <div class="container">
      <button class="navbar-toggler border" type="button" data-bs-toggle="collapse" data-bs-target="#navbar_main"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar_main">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link ps-0" href="{% url 'inicio:home' %}"> Inicio </a>
          </li>
          <li class="nav-item dropdown">
						<a class="dropdown-toggle nav-link" href="" data-bs-toggle="dropdown">
							Camaras de Frío
						</a>
						<ul class="dropdown-menu">
							<li> <a class="dropdown-item" href="{% url 'camara:camaras-refrigeracion' %}">Camaras de Refrigeración </a> </li>
							<li> <a class="dropdown-item" href="{% url 'camara:camaras-congelado' %}">Camaras de Congelado</a> </li>
							<li> <a class="dropdown-item" href="{% url 'camara:camaras-de-frio' %}">Todas...</a> </li>
						</ul>
					</li>
          <li class="nav-item">
            <a class="nav-link" href="#">Nuestros Trabajos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Quienes Somos</a>
          </li>
        </ul>
      </div> <!-- collapse end.// -->
    </div> <!-- container end.// -->
  </nav> <!-- navbar end.// -->
</header> <!-- section-header end.// -->