{% load static %}
<!-- Start Header Area -->
<header class="header navbar-area">
  <!-- Start Topbar -->
  <div class="topbar">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-4 col-md-4 col-12">
          <div class="top-left">
            <ul class="menu-top-link">
              <li>
                <a href="#"></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12">
          <div class="top-middle">
            <ul class="useful-links">
              <li><a href="#"></a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12">
          <div class="top-end">
            <ul class="user-login">
              <ul class="useful-links">
                <li><a class="home-menu" href="{% url 'website:home'%}">HOME</a></li>
                <li><a href="#">CARAMAS DE FRIO REALIZADAS</a></li>
                <li><a href="#">CONTACTANOS</a></li>
                <li><a href="#">FORMAS DE PAGO</a></li>
              </ul>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Topbar -->
  <!-- Start Header Middle -->
  <div class="header-middle">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-3 col-md-3 col-7">
          <!-- Start Header Logo -->
          <a class="navbar-brand" href="{% url 'website:home'%}">
            <img src="{% static 'images/automatica2.png' %}" alt="Logo">
          </a>
          <!-- End Header Logo -->
        </div>
        <div class="col-lg-5 col-md-7 d-xs-none">
          <!-- Start Main Menu Search -->
          <div class="main-menu-search">
            <!-- navbar search start -->
            <div class="navbar-search search-style-5">
              <div class="search-input">
                <input type="text" placeholder="Buscar producto...">
              </div>
              <div class="search-btn">
                <button><i class="lni lni-search-alt"></i></button>
              </div>
            </div>
            <!-- navbar search Ends -->
          </div>
          <!-- End Main Menu Search -->
        </div>
        <div class="col-lg-4 col-md-2 col-5">
          <div class="middle-right-area">
            <div class="nav-hotline">
              <a href="tel:+56942768657">
                <i class="lni lni-phone"></i>
                <h3>Teléfono:
                  <span>(+56) 9 4276 8657</span>
                </h3>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Header Middle -->
  <!-- Start Header Bottom -->
  <div class="container-nav-cam">
    <div class="container container-nav-cam">
      <div class="row align-items-center">
        <div class="col-lg-8 col-md-6 col-12">
          <div class="nav-inner">
            <!-- Start Navbar -->
            <nav class="navbar navbar-expand-lg">
              <button class="navbar-toggler mobile-menu-btn" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="toggler-icon"></span>
                <span class="toggler-icon"></span>
                <span class="toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                <ul id="nav" class="navbar-nav ms-auto">
                  <li class="nav-item">
                    <a class="dd-menu collapsed" href="{% url 'coldchamber:coldchambers' %}" data-bs-toggle="collapse"
                      data-bs-target="#submenu-1-2" aria-controls="navbarSupportedContent" aria-expanded="false"
                      aria-label="Toggle navigation">CAMARAS DE FRIO</a>
                    <ul class="sub-menu collapse" id="submenu-1-2">
                      {% for coldchamber in coldchambers %}
                      <li class="nav-item nav-items-coldchamber"><a
                          href="{% url 'coldchamber:detail_coldchamber' coldchamber.id %}">{{coldchamber.name}}
                          {{coldchamber.dimensions}} Mt. </a></li>
                      {% endfor %}
                      <li class="nav-item nav-items-coldchamber"><a href="{% url 'coldchamber:coldchambers' %}">Ver
                          todas las camaras de frio...</a></li>
                    </ul>
                  </li>
                </ul>
              </div> <!-- navbar collapse -->
            </nav>
            <!-- End Navbar -->
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <!-- Start Nav Social -->
          <div class="nav-social">
            <h5 class="title">Siguenos:</h5>
            <ul>
              <li>
                <a href="javascript:void(0)"><i class="lni lni-facebook-filled"></i></a>
              </li>
              <li>
                <a href="javascript:void(0)"><i class="lni lni-twitter-original"></i></a>
              </li>
              <li>
                <a href="javascript:void(0)"><i class="lni lni-instagram"></i></a>
              </li>
              <li>
                <a href="javascript:void(0)"><i class="lni lni-skype"></i></a>
              </li>
            </ul>
          </div>
          <!-- End Nav Social -->
        </div>
      </div>
    </div>
  </div>
  <!-- End Header Bottom -->
</header>
<!-- End Header Area -->